.color-green{
    background-color: green;
}
.color-blue{
    background-color: aqua;
}
.color-blue-2{
background-color: blue;
}
.color-melon{
    background-color: coral;
}
.color-yellow{
    background-color: yellow;
}