.color-col-12{
 background-color: blue;
}
.color-col{
    background-color: greenyellow;
}
.color-col-6{
    background-color: brown;
}
.color-pink{
    background-color: pink;
}
.color-coffe{
    background-color: lightsalmon;
}
.color-green{
    background-color: green;
}