h1{ font-size: 100px;
   color:blue;
   background-color: yellowgreen;
}
h3{
   font-size: 30px;
   color: rgba(red, green, blue, 0.5);
   background-color: azure;
}
#tabla1{
 border:10;
 background-color: azure;
}
#titulo1{
   color: chartreuse;
   background-color: beige;
}
.encabezados{
   color: coral;
}
